body {
	margin: 0;
	padding: 0;
	background-image: url("./ressources/cosmonaute.jpg");
	background-size: cover;
	background-attachment: fixed;
}

body * {
	margin: auto;
}

a, p, h1, h2 {
	position: relative;
	font-family: "Courier New";
	text-decoration: none;
	text-align: center;
}

a, h1, h2 {
	color: rgb(204, 51, 255);
}

h1, h2 {
	text-shadow: 0px 0px 9px black;
}

p {
	position: relative;
	background-color: rgba(204, 51, 255, 0.8);
	border-radius: 5px;
	padding: 10px;
	color: rgb(255, 204, 255);
}

titre {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 200 0 400 0;
	background-color: rgba(210, 210, 210, 0.7);
}

navbarZone {
	display: flex;
	flex-direction: column;
	position: relative;
}

navbar {
	display: flex;
	width: 100%;
	background-color: rgb(255, 204, 255);
	height: 50px;
	position: sticky;
	top: 0;
	z-index: 10;
}

#navbar1 {
	position: absolute;
	height: 70px;
	width: 100%;
	top: -65px;
	background-color: rgb(255, 204, 255);
}

#navbar2 {
	position: absolute;
	height: 70px;
	width: 100%;
	top: 45px;
	background-color: rgb(255, 204, 255);
	z-index: 8;
}

pseudo {
	position: relative;
	display: flex;
	flex-direction: row;
	width: 100%;
	padding: 300 0;
	background-image: url("./ressources/lucie.jpg");
	background-position: 0px -100px;
	background-size: cover;
	background-attachment: fixed;
	z-index: 5;
}

pseudo:before {
	position: absolute;
	top: 0;
	content: "";
	background-color: rgba(160, 160, 160, 0.7);
	height: 100%;
	width: 100%;
}

pseudo p {
	z-index: 7;
	text-align: left;
}

#hover {
	position: relative;
}

#hover p {
	padding: 5px;
	text-align: justify;
}

#windows {
	display: none;
	position: absolute;
	top: 40px;
	left: -10px;
	overflow: hidden;
	background-color: rgba(100, 100, 100, 0.4);
	padding: 10px 10px 10px 10px;
	border: 1px solid #777;
	border-radius: 10px;
	width: 400px;
	z-index: 3;
}

p:hover + #windows {
	display: block;
}

#windows:hover {
	display: block;
}

#hoverextended {
	position: relative;
}

#hoverextended p {
	padding: 5px;
	text-align: justify;
}

#windowsextended {
	display: none;
	position: absolute;
	top: -10px;
	left: -10px;
	overflow: hidden;
	background-color: rgba(100, 100, 100, 0.4);
	padding: 70px 10px 10px 10px;
	border: 1px solid #777;
	border-radius: 10px;
	width: 400px;
	z-index: 3;
}

#hoverextended p:hover + #windowsextended {
	display: block;
}

#windowsextended:hover {
	display: block;
}

#active {
	position: relative;
}

#active p {
	padding: 5px;
	text-align: justify;
}

#windowsactive {
	display: none;
	position: absolute;
	top: 40px;
	left: -10px;
	overflow: hidden;
	background-color: rgba(100, 100, 100, 0.4);
	padding: 10px 10px 10px 10px;
	border: 1px solid #777;
	border-radius: 10px;
	width: 400px;
	z-index: 3;
}

#active p:active + #windowsactive {
	display: block;
}

#focus a {
	position: relative;
	background-color: rgba(204, 51, 255, 0.8);
	border-radius: 5px;
	padding: 5px;
	color: rgb(255, 204, 255);
}

#focus a:focus {
	background-color: rgba(255, 204, 255, 0.8);
	color: rgb(204, 51, 255);
}

#windowstarget > a {
	position: relative;
	background-color: rgba(204, 51, 255, 0.8);
	border-radius: 5px;
	padding: 5px;
	color: rgb(255, 204, 255);
}

#target {
	display: none;
	position: absolute;
	width: 400px;
	top: 0;
	left: 500px;
	background-color: transparent;
	padding-top: 200px;
	height: 100%;
	z-index: 10;
}

#target p {
	text-align: justify;
}

#autour a {
	right: 0;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: rgb(204, 51, 255);
	background-color: transparent;
}

#close:hover, #close:focus {
	color: rgb(255, 204, 255);
	cursor: pointer;
	text-decoration: none;
}

#target #autour {
	padding: 10px;
	background-color: rgba(100, 100, 100, 0.4);
	border: 1px solid #777;
	border-radius: 10px;
}

#target:target {
	display: block;
}

sticky {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 300px;
	padding: 20 0;
	background-image: url("./ressources/tete.jpg");
	background-size: cover;
	background-attachment: fixed;
}

sticky:before {
	position: absolute;
	top: 0;
	content: "";
	background-color: rgba(255, 204, 255, 0.5);
	height: 100%;
	width: 100%;
}

sticky p {
	background-color: transparent;
}

transition {
	display: flex;
	width: 100%;
	padding: 200 0;
	background-image: url("./ressources/pantalon.jpg");
	background-position: 0px -600px;
	background-size: cover;
	background-attachment: fixed;
}

transition a {
	background-color: rgba(255, 204, 255, 0.8);
	border-radius: 5px;
	padding: 10px;
	color: rgb(204, 51, 255);
}

/*mise en place du petit trait animé*/
.tiret:after {
	content: "";
	position: absolute;
	bottom: 0;
	right: 10px;
	left: 10px;
	height: 2px;
	background-color: rgb(204, 51, 255);
	opacity: 0;
	transform: translateY(5px);
	transition: all 0.4s;
}

transition .tiret:after {
	bottom: 10px;
}

/*animation du petit trait*/
.tiret:hover:after {
	opacity: 0.6;
	transform: translateY(0);
}

@keyframes slidy {
	0% { left: 0%; }
	20% { left: 0%; }
	25% { left: -100%; }
	45% { left: -100%; }
	50% { left: -200%; }
	70% { left: -200%; }
	75% { left: -300%; }
	95% { left: -300%; }
	100% { left: -400%; }
}

@keyframes timeliner {
	0% { width: 0%; }
	20% { width: 100%; }
	21% { width: 0%; }
	25% { width: 0%; }
	45% { width: 100%; }
	46% { width: 0%; }
	50% { width: 0%; }
	70% { width: 100%; }
	71% { width: 0%; }
	75% { width: 0%; }
	95% { width: 100%; }
	96% { width: 0%; }
	100% { width: 0%; }
}

slide {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 100 0;
	background-image: url("./ressources/genevieve.jpg");
	background-position: 0px -200px;
	background-size: cover;
	background-attachment: fixed;
}

#dedi {
	margin-bottom: 100px;
	border-radius: 0;
	background-color: rgba(160, 160, 160, 0.7);
	width: 100%;
}

#slideall {
	display: flex;
	margin: 20;
	flex-wrap: wrap;
}

.cadre {
	position: relative;
	width: 400px;
	height: 400px;
	overflow: hidden;
}

#cadre2:after {
	position: absolute;
	bottom: 10;
	left: 0;
	content: " ";
	width: 100%;
	height: 10px;
	background-color: rgb(160, 160, 160);
}

#timeline {
	position: absolute;
	bottom: 10;
	left: 0;
	content: " ";
	height: 10px;
	background-color: rgb(204, 51, 255);
	width: 0;
	animation: timeliner 10s infinite;
	z-index: 1;
}

.boite img {
	width: 20%;
}

.boite {
	display: flex;
	justify-content: flex-start;
	position: relative;
	width: 500%;
	animation: 10s slidy infinite;
}

#playbtn, #pausebtn {
	position: absolute;
	top: 25px;
	right: 25px;
	opacity: 0;
	width: 22px;
	height: 22px;
	transition: opacity 1s; right 1s;
	z-index: 1;
}

/*dessin du bouton pause*/
#pausebtn:after, #pausebtn:before {
	position: absolute;
	display: block;
	content: " ";
	width: 38%;
	height: 22px;
	background-color: rgba(204, 51, 255, 0.7);
}

#pausebtn:before {
	left: 0;
}

#pausebtn:after {
	right: 0;
}

/*dessin du bouton play*/
#playbtn {
	width: 1px;
	height: 1px;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 20px solid rgba(204, 51, 255, 0.7);
	right: 55px;
	cursor: default;
	z-index:2;
}

#cadre3:hover #pausebtn, #playbtn:focus, #pausebtn:focus {
	opacity: 0;
}

/*stopper le slide*/
.command:target ~ #cadre3 .boite {
	animation-play-state: paused;
}

/*redémarrer le slide*/
#play:target ~ #cadre3 .boite {
	animation-play-state: running;
}

/*switch entre les boutons*/

.command:target ~ #cadre3 #pausebtn, {
	opacity:0;
}

#play:target ~ #cadre3:hover #pausebtn,
#play:target ~ #cadre3 #pausebtn:focus {
	opacity:1;
}

.command:target ~ #cadre3 #playbtn {
	opacity:1;
	right: 25px;
	cursor: pointer;
}

#play:target ~ #cadre3 #playbtn {
	opacity:0;
	right: 55px;
	cursor: default;
}

