/*general settings*/
* {margin: 0;}

body {
	margin: 0;
	padding: 0;
	background-image: url("./ressources/cosmonaute.jpg");
	background-size: cover;
	background-attachment: fixed;
}

body * {
	margin: auto;
}

a, p, h1, h2 {
	position: relative;
	font-family: "Courier New";
	text-decoration: none;
	text-align: center;
}

a, h1, h2 {
	color: rgb(204, 51, 255);
}

h1, h2 {
	text-shadow: 0px 0px 9px black;
}

a, p {
	font-size: 15px;
}

p {
	position: relative;
	background-color: rgba(204, 51, 255, 0.8);
	border-radius: 5px;
	padding: 10px;
	color: rgb(255, 204, 255);
}


/*premiere section : le titre*/
titre {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 200 0 400 0;
	background-color: rgba(210, 210, 210, 0.7);
}


/*deuxieme section : la nav bar*/
navbarZone {
	display: flex;
	flex-direction: column;
	position: relative;
}

/*grace a la position sticky elle va rester accrocher en haut de la div
c'est pour ça que j'ai vais la div navbarzone plus grande que simplement
la section navbar, elle englobe aussi les pseudos et le section sticky*/
navbar {
	display: flex;
	width: 100%;
	background-color: rgb(255, 204, 255);
	height: 50px;
	position: sticky;
	top: 0;
	z-index: 10;
}

#navbar1 {
	position: absolute;
	height: 70px;
	width: 100%;
	top: -65px;
	background-color: rgb(255, 204, 255);
}

#navbar2 {
	position: absolute;
	height: 70px;
	width: 100%;
	top: 45px;
	background-color: rgb(255, 204, 255);
	z-index: 8;
}


/*troisieme section, les pseudos elements*/
pseudo {
	position: relative;
	display: flex;
	flex-direction: row;
	width: 100%;
	padding: 300 0;
	background-image: url("./ressources/lucie.jpg");
	background-position: 0px -100px;
	background-size: cover;
	background-attachment: fixed;
	z-index: 5;
}

/*grace a ce before je met une couleur transparente au dessus de l'image de fond*/
pseudo:before {
	position: absolute;
	top: 0;
	content: "";
	background-color: rgba(160, 160, 160, 0.7);
	height: 100%;
	width: 100%;
}

pseudo p {
	z-index: 7;
	text-align: left;
}

/*le premier est un hover sur un p qui s'applique a une div, grace a '+' */
#hover {
	position: relative;
}

#hover p {
	padding: 5px;
	text-align: justify;
}

#windows {
	display: none;
	position: absolute;
	top: 40px;
	left: -10px;
	overflow: hidden;
	background-color: rgba(100, 100, 100, 0.4);
	padding: 10px 10px 10px 10px;
	border: 1px solid #777;
	border-radius: 10px;
	width: 400px;
	z-index: 3;
}

p:hover + #windows {
	display: block;
}

#windows:hover {
	display: block;
}

/*le deuxieme est comme le premier mais la div est collée au p et est aussi en hover donc elle reste apparente tant que la souris est desus*/
#hoverextended {
	position: relative;
}

#hoverextended p {
	padding: 5px;
	margin: 5px;
	text-align: justify;
}

#hoverextended #phover:hover {
	color: rgb(204, 51, 255);
	background-color: rgba(255, 204, 255, 0.8);
}

#windowsextended {
	display: none;
	position: absolute;
	top: -10px;
	left: -10px;
	overflow: hidden;
	background-color: rgba(100, 100, 100, 0.4);
	padding: 70px 10px 10px 10px;
	border: 1px solid #777;
	border-radius: 10px;
	width: 400px;
	z-index: 3;
}

#hoverextended p:hover + #windowsextended {
	display: block;
}

/*la div est aussi en hover pour rester apparente*/
#windowsextended:hover {
	display: block;
}


/*le troisieme pseudo element est 'active'*/
#active {
	position: relative;
}

#active p {
	padding: 5px;
	text-align: justify;
}

#windowsactive {
	display: none;
	position: absolute;
	top: 40px;
	left: -10px;
	overflow: hidden;
	background-color: rgba(100, 100, 100, 0.4);
	padding: 10px 10px 10px 10px;
	border: 1px solid #777;
	border-radius: 10px;
	width: 400px;
	z-index: 3;
}

#active p:active + #windowsactive {
	display: block;
}

/*le quatrieme pseudo element*/
/*c'est un input que j'ai mis en readonly donc on ne peut pas l'éditer*/
#focus {
	z-index: 1;
}

input {
	border: 0 none;
	background-color: rgba(204, 51, 255, 0.8);
	font-family: "Courier New";
	text-decoration: none;
	text-align: center;
	color: rgb(255, 204, 255);
	font-size: 15px;
	border-radius: 5px;
	padding: 5px;
	width: 65px;
	transition: width 0.35s;
}

input:focus {
	width: 200px;
	background-color: rgb(255, 204, 255);
	color: rgba(204, 51, 255, 0.8);
	transition: width 0.35s;
}

/*en cinquieme pseudo element j'ai mis un target*/
#windowstarget > a {
	position: relative;
	background-color: rgba(204, 51, 255, 0.8);
	border-radius: 5px;
	padding: 5px;
	color: rgb(255, 204, 255);
}

#target {
	display: none;
	position: absolute;
	width: 400px;
	top: 0;
	left: 500px;
	background-color: transparent;
	padding-top: 200px;
	height: 100%;
	z-index: 10;
}

#target p {
	text-align: justify;
}

#autour a {
	right: 0;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: rgb(204, 51, 255);
	background-color: transparent;
}

/*le bouton, juste la lettre x, pour fermer le target, c'est a dire juste changer l'irl en cliquant sur le x*/
#close:hover, #close:focus {
	color: rgb(255, 204, 255);
	cursor: pointer;
	text-decoration: none;
}

#target #autour {
	padding: 10px;
	background-color: rgba(100, 100, 100, 0.4);
	border: 1px solid #777;
	border-radius: 10px;
}

#target:target {
	display: block;
}

/*ce sixieme et dernier pseudo element est en fait deux pseudos elements,
before et after, que j'utilise ici pour faire une ombre tordue*/
#beforeafter {
	position: relative;
	z-index: 10;
}

#beforeafter p {
	background-color: rgba(204, 51, 255, 1);
}


#beforeafter:before, #beforeafter:after {
	position: absolute;
	content: "";
	bottom: 16px;
	z-index: -10;
	width: 48%;
	height: 20px;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 2px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.4), 0 20px 10px rgba(0, 0, 0, 0.7);
}

#beforeafter:after {
	right: 0;
	transform: rotate(6deg);
}

#beforeafter:before {
	left: 0;
	transform: rotate(-6deg);
}

/*la quatrieme section est juste un zone pour prevenir que la navbar va partir*/
sticky {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 300px;
	padding: 20 0;
	background-image: url("./ressources/tete.jpg");
	background-size: cover;
	background-attachment: fixed;
}

/*toujours le before pour mettre un voile sur l'image de fond*/
sticky:before {
	position: absolute;
	top: 0;
	content: "";
	background-color: rgba(255, 204, 255, 0.5);
	height: 100%;
	width: 100%;
}

sticky p {
	background-color: transparent;
}

/*la cinquieme section porte sur les effets de transition*/
transition {
	display: flex;
	width: 100%;
	padding: 200 0;
	background-image: url("./ressources/pantalon.jpg");
	background-position: 0px -600px;
	background-size: cover;
	background-attachment: fixed;
}

transition a {
	background-color: rgba(255, 204, 255, 0.8);
	border-radius: 5px;
	padding: 10px;
	color: rgb(204, 51, 255);
}

/*la premiere transition est aussi utilisée dans la navbar
c'est juste une petit trait qui apparait quand on passe la souris sur la cible*/
/*mise en place du petit trait animé*/
.tiret:after {
	content: "";
	position: absolute;
	bottom: 0;
	right: 10px;
	left: 10px;
	height: 2px;
	background-color: rgb(204, 51, 255);
	opacity: 0;
	transform: translateY(5px);
	transition: all 0.4s;
}

transition .tiret:after {
	bottom: 10px;
}

/*animation du petit trait*/
.tiret:hover:after {
	opacity: 0.6;
	transform: translateY(0);
}

@keyframes slidy {
	0% { left: 0%; }
	20% { left: 0%; }
	25% { left: -100%; }
	45% { left: -100%; }
	50% { left: -200%; }
	70% { left: -200%; }
	75% { left: -300%; }
	95% { left: -300%; }
	100% { left: -400%; }
}

@keyframes timeliner {
	0% { width: 0%; }
	20% { width: 100%; }
	21% { width: 0%; }
	25% { width: 0%; }
	45% { width: 100%; }
	46% { width: 0%; }
	50% { width: 0%; }
	70% { width: 100%; }
	71% { width: 0%; }
	75% { width: 0%; }
	95% { width: 100%; }
	96% { width: 0%; }
	100% { width: 0%; }
}

/*cette transition est une amélioration du hover de tout a l'heure*/
/*le but est de faire apparaitre et disparaitre le block lentement*/
/*pour cette premiere version j'utilise la variable opacity plutot que
le display du bloc, parce que la transition-duration ne marche pas
sur le display*/
/*!!! le probleme c'est que la div existe toujours meme si transparente donc elle apparrait au survol au dela du bouton sencé la faire apparaitre !!!*/
#apparition {
	position: relative;
}

#apparition p {
	padding: 10px;
	text-align: justify;
}

#windowsapparition {
	opacity: 0;
	display: block;
	position: absolute;
	top: -90;
	left: -300px;
	overflow: hidden;
	background-color: rgba(100, 100, 100, 0.4);
	padding: 10px 10px 10px 10px;
	border: 1px solid #777;
	border-radius: 10px;
	width: 400px;
	z-index: 3;
	transition-duration: 1s;
}

p:hover #windowsapparition {
	transition-duration: 1s;
	opacity: 1;
}

#windowsapparition:hover {
	opacity: 1;
}


/*cette deuxieme version de la div qui apparait lentement est plus complexe mais marche mieux. la div ne peut toujorus pas disparaitre lentement*/
/*le principe est de cumuler l'apparition du block et l'augmentation de l'opacité
pour que la div n'existe pas au survol en dehors de la zone du bouton*/
#apparition2 {
	position: relative;
}

/*le bouton a cliquer*/
#near > p {
	position: relative;
}

/*near doit entourer le bouton p pour faire apparaitre le block
parce que le survol de p fait buguer le hover*/
#near {
	position: relative;
	display: flex;
	border-radius: 10px;
}

/*doit générer une fenêtre de la taille de la vignette qui apparaitra*/
#invisible {
	display: none;
	opacity: 1;
	position: absolute;
	top: -100px;
	right: -10px;
}

#windowsapparition2 {
	opacity: 0;
	display: flex;
	width: 400px;
	position: relative;
	left: 0;
	top: 0;
	overflow: hidden;
	background-color: rgba(100, 100, 100, 0.4);
	padding: 10px 10px 10px 10px;
	border-radius: 10px;
	z-index: 3;
	transition-duration: 1s;
}


#near:hover #invisible {
	display: flex;
}

#invisible:hover  #windowsapparition2 {
	transition-duration: 1s;
	opacity: 1;
}


/*la sixieme et derniere section montre des techniques pour les slides*/
/*general setting de la section*/
slide {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 100 0;
	background-image: url("./ressources/genevieve.jpg");
	background-position: 0px -200px;
	background-size: cover;
	background-attachment: fixed;
}

/*la petite dedicace a morgan sur l'ecran d'ordinateur duquel j'ai vu trois slides cote a cote, inspiration*/
#dedi {
	margin-bottom: 100px;
	border-radius: 0;
	background-color: rgba(160, 160, 160, 0.7);
	width: 100%;
}

/*reglages pour mettre les trois slides cote a cote*/
#slideall {
	display: flex;
	margin: 20;
	flex-wrap: wrap;
}

/*taille des cadres*/
.cadre {
	position: relative;
	width: 400px;
	height: 400px;
	overflow: hidden;
}

/*taille des images*/
.boite img {
	width: 20%;
}

/*la boite (invisible) qui contient toutes les imges et qui defile*/
.boite {
	display: flex;
	justify-content: flex-start;
	position: relative;
	width: 500%;
	animation: 10s slidy infinite;
}

/*pour le deuxieme slide*/
/*j'utilise after pour faire apparaitre la zone grise dans laqeulle
la timeline avance*/
#cadre2:after {
	position: absolute;
	bottom: 10;
	left: 0;
	content: " ";
	width: 100%;
	height: 10px;
	background-color: rgb(160, 160, 160);
}

#timeline {
	position: absolute;
	bottom: 10;
	left: 0;
	content: " ";
	height: 10px;
	background-color: rgb(204, 51, 255);
	width: 0;
	animation: timeliner 10s infinite;
	z-index: 1;
}

/*pour le troisieme slide*/
/*c'est la creation des boutons play et pause*/
#playbtn, #pausebtn {
	position: absolute;
	top: 25px;
	right: 25px;
	opacity: 0;
	width: 22px;
	height: 22px;
	transition: opacity 1s;
	z-index: 2;
}

/*dessin du bouton pause*/
#pausebtn:after, #pausebtn:before {
	position: absolute;
	display: block;
	content: " ";
	width: 38%;
	height: 22px;
	background-color: rgba(204, 51, 255, 0.7);
	z-index: 2;
}

#pausebtn:before {
	left: 0;
}

#pausebtn:after {
	right: 0;
}

/*dessin du bouton play*/
#playbtn {
	width: 1px;
	height: 1px;
	/*ce sont les transparences qui dessinent les deux triangles*/
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 20px solid rgba(204, 51, 255, 0.7);
	z-index:2;
}


/*stopper le slide*/
.command:target ~ #cadre3 .boite {
	animation-play-state: paused;
}

/*redémarrer le slide*/
#play:target ~ #cadre3 .boite {
	animation-play-state: running;
}


/*switch entre les boutons*/
#cadre3:hover #pausebtn {
	opacity: 1;
}

#pause:target ~ #cadre3 #pausebtn {
	opacity: 0;
	cursor: default;
	z-index: 1;
}

#pause:target ~ #cadre3:hover #playbtn {
	opacity: 1;
}

#play:target ~ #cadre3 #playbtn {
	cursor: default;
}
