/*general settings*/
* {margin: 0;}

body {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

body * {
	margin: auto;
}

a, p, h1, h2, h3, h4, span, option, label {
	position: relative;
	font-family: "Courier New";
	text-decoration: none;
	text-align: center;
	z-index: 1;
}

span, option, label {
	text-align: left;
	font-size: 15px;
}

button {
	font-size: 13px;
}

a, h1, h2, h3 {
	color: rgb(204, 51, 255);
}

h1, h2 {
	text-shadow: 0px 0px 9px black;
}

a, p, h3 {
	font-size: 15px;
}

p {
	position: relative;
	background-color: rgba(204, 51, 255, 0.8);
	border-radius: 5px;
	padding: 10px;
	color: rgb(255, 204, 255);
}

/*//////////////////////////////////////*/
/*mise ne place des petits boutons pour expliquer le code*/
.question {
	display: block;
	position: absolute;
}

.circle {
	z-index: 4;
	position: relative;
	width: 14px;
	height: 14px;
	border-radius: 7px;
	background-color: rgba(204, 51, 255, 0.8);
	cursor: pointer;
}

.question p {
	z-index: 3;
	background-color: transparent;
	color: rgb(204, 51, 255);
	cursor: default;
}

.questionmark {
	display: block;
	position: absolute;
	top: -20px;
	left: 2px;
	margin: 0;
	padding: 0 0 10px 0;
	font-size: 16px;
	transform-origin: bottom center;
	opacity: 1;
}

.tooltip {
	opacity: 0;
	visibility: hidden;
	position: fixed;
	z-index: 0;
	top: 10vh;
	left: calc(50% - 250px);
	width: 500px;
	height: 80vh;
	padding: 10px;
	overflow: hidden;
	border-radius: 10px;
	background-color: rgba(50, 50, 50, 0.9);
	transition: all 0.5s;
	transition: opacity 0.5s, visibility 0.5s, z-index 0.1s 0.5s;
}
.tooltip p {
	overflow-y: scroll;
	height: 100%;
	width: 100%;
	padding: 0 20px 0 0;
	margin: 0 0 0 5px;
	text-align: left;
	color: rgb(200, 200, 200);
}

.circle:hover {
	z-index: 7;
}

.circle:focus ~ .tooltip, .circle:hover ~ .tooltip {
	z-index: 6;
	opacity: 1;
	visibility: visible;
	transition: opacity 1s 0.5s, z-index 0.1s 0.5s;
}

.circle:focus + p, .circle:hover + p {
	opacity: 0;
	transform: rotate(180deg);
	transition: all 1s;
}

.tooltip:hover {
	z-index: 6;
	opacity: 1;
	visibility: visible;
} 

/*positionnement des questions*/

#questionSelf {
	right: -45px;
	top: -10px;
}

#questionSelf > p {
	color: rgb(255, 204, 255);
}

#questionSelf div {
	background-color: rgb(255, 204, 255);
}

#questionTitre {
	left: 40px;
	top: -20px;
}

#questionTitre > p {
	color: rgb(255, 204, 255);
}

#questionTitre div {
	background-color: rgb(255, 204, 255);
}

#questionLinks {
	right: 15%;
	top: 55px;
}

#questionLinks .circle:focus ~ .tooltip, .circle:hover ~ .tooltip {
	z-index: 9;
}

#questionLinks .tooltip:hover {
	z-index: 9;
}

#questionNavbar {
	left: 400px;
	top: 150px;
}

#questionNavbar .circle:focus ~ .tooltip, .circle:hover ~ .tooltip {
	z-index: 9;
}

#questionNavbar .tooltip:hover {
	z-index: 9;
}

#questionDisco {
	left: 90px;
	top: 80px;
}

#questionMenu {
	left: -40px;
	top: 30px;
}

#questionRonds {
	left: 25px;
	top: 75px;
}

#questionTarget {
	left: -20px;
	top: -70px;
}

#questionOmbres {
	left: 95px;
	top: 54px;
}

#questionSticky {
	left: 86%;
	top: 64%;
}

#questionSticky > p {
	color: rgb(255, 204, 255);
}

#questionSticky div {
	background-color: rgb(255, 204, 255);
}

#questionForm {
	left: 75%;
	top: 83%;
}

#questionForm > p {
	color: rgb(255, 204, 255);
}

#questionForm div {
	background-color: rgb(255, 204, 255);
}

#questionCalcul {
	left: 10%;
	top: 53%;
}

#questionCalcul > p {
	color: rgb(255, 204, 255);
}

#questionCalcul div {
	background-color: rgb(255, 204, 255);
}

#questionSlide {
	left: 15%;
	top: 73%;
}

#questionTimeline {
	left: 56%;
	top: 54%;
}

#questionPlay {
	left: 84%;
	top: 68%;
}

/*///////////////////////////////////*/
/*premiere section : le titre*/
titre {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 200px 20px 200px 20px;
	overflow: hidden;
	background-image: url("./ressources/cosmonaute.jpg");
	background-position: 0px -200px;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

titre h3 {
	color: rgb(255, 204, 255);
}

titre:after {
	width: 100%;
	height: 100%;
	background-color: rgba(150, 110, 150, 0.9);
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	z-index: 0;
}

#title {
	position: relative;
	margin-bottom: 100px;
}

#instructions {
	position: relative;
}

/*//////////////////////////////////*/
/*deuxieme section : la nav bar*/
navbarZone {
	display: flex;
	flex-direction: column;
	position: relative;
	z-index: 5;
}

/*grace a la position sticky elle va rester accrocher en haut de la div
c'est pour ça que j'ai vais la div navbarzone plus grande que simplement
la section navbar, elle englobe aussi les pseudos et le section sticky*/
navbar {
	display: flex;
	width: 100%;
	background-color: rgb(255, 204, 255);
	height: 50px;
	position: sticky;
	top: 0;
	z-index: 6;
}

#navbarSlides {
	position: relative;
}

#navbar1 {
	height: 70px;
	width: 100%;
	top: -65px;
	background-color: rgb(255, 204, 255);
}

#navbar2 {
	height: 70px;
	width: 100%;
	top: 45px;
	background-color: rgb(255, 204, 255);
}

/*cette transition est utilisée dans la navbar
c'est juste une petit trait qui apparait quand on passe la souris sur la cible*/
/*mise en place du petit trait animé*/
.tiret:after {
	content: "";
	position: absolute;
	bottom: 0;
	right: 10px;
	left: 10px;
	height: 2px;
	background-color: rgb(204, 51, 255);
	opacity: 0;
	transform: translateY(5px);
	transition: all 0.4s;
}

/*animation du petit trait*/
.tiret:hover:after {
	opacity: 0.6;
	transform: translateY(0);
}

@media screen and (max-width: 600px) {
	.tiret {
		font-size: 10px;
	}
}

/*///////////////////////////////////////////*/
/*troisieme section, les pseudos elements*/
pseudo {
	position: relative;
	display: flex;
	flex-direction: row;
	width: 100%;
	padding: 300px 0;
	background-image: url("./ressources/lucie.jpg");
	background-position: 0px -100px;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

/*le voile translucide au dessus de l'image de fond*/
pseudo:before {
	position: absolute;
	top: 0;
	content: "";
	background-color: rgba(60, 60, 60, 0.9);
	height: 100%;
	width: 100%;
}

pseudo * {
	cursor: default;
}

pseudo p {
	margin: 5px;
	padding: 5px;
	cursor: pointer;
}


/*ce bouton clignote grace a une transition sur le z-index : au hover de l'élément, le bouton change d'apparence, et un autre element caché derriere augmente son z-index au dessus en 1s, et une fois arrivé devant le hover ne marche plus, donc la transition fait repasser l'élément caché en 1s en dessous du coup le hover re-marche, etc...*/
#clignote {
	position: relative;
}

#disco {
	z-index: 5;
}

#camoufle {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 4;
	transition: z-index 1s;
}

#disco:hover {
	background-color: rgba(255, 204, 255, 0.8);
	color: rgb(204, 51, 255);
	cursor: default;
}

#disco:hover + #camoufle {
	z-index: 6;
	transition: z-index 1s;
}

/*le deuxieme est comme le premier mais la div est collée au p et est aussi en hover donc elle reste apparente tant que la souris est desus*/
#menu {
	position: relative;
}

#hoverextended {
	z-index: 5;
	position: relative;
}

#hoverextended #phover:hover {
	color: rgb(204, 51, 255);
	background-color: rgba(255, 204, 255, 0.8);
}

#windowsextended {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: -10px;
	left: -5px;
	overflow: hidden;
	background-color: rgba(100, 100, 100, 0.4);
	padding: 70px 5px 5px 5px;
	border: 1px solid #777;
	border-radius: 10px;
	width: 200px;
	z-index: -1;
	transition: all 0.3s;
}

#windowsextended p {
	text-align: justify;
}

#hoverextended:hover, #hoverextended:focus {
	z-index: 7;
	outline: none;
}

#hoverextended:hover #windowsextended, #hoverextended:focus #windowsextended {
	visibility: visible;
	opacity: 1;
	transition: all 0.3s;
}

/*la div est aussi en hover pour rester apparente*/
#windowsextended:hover {
	visibility: visible;
	opacity: 1;
}

/*le troisieme pseudo element*/
#focus {
	position: relative;
}

#bull {
	border-radius: 5px;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 50%;
	margin-left: -50%;
	transition: all 0.3s;
	background-color: rgba(204, 51, 255, 0.8);
}

#focus > p {
	background-color: transparent;
	margin: 0;
	z-index: 2;
}

.bulles {
	position: absolute;
	width: 0px;
	height: 0px;
	border-radius: 50%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: transparent;
	transition: all 0.3s;
}

#bulla {top: -210px;}

#bullb {right: -210px;}

#bullc {bottom: -210px;}

#bulld {left: -210px;}


#bulle {top: -350px;}

#bullf {right: -350px;}

#bullg {bottom: -350px;}

#bullh {left: -350px;}


#bulli {top: -460px;}

#bullj {right: -460px;}

#bullk {bottom: -460px;}

#bulll {left: -460px;}


#focus:focus {
	outline: none;
	z-index: 7;
}

#focus:focus > p {
	color: rgb(204, 51, 255);
	z-index: 6;
}

#focus:focus #bull {
	width: 100px;
	height: 100px;
	top: 0;
	z-index: 5;
	bottom: 0;
	left: 50%;
	margin-left: -50px;
	border-radius: 50%;
	background-color: rgba(255, 204, 255, 0.8);
	transition: all 0.3s;
}

#focus:focus .bull1 {
	width: 60px;
	height: 60px;
	background-color: rgba(255, 204, 255, 0.8);
	transition: all 0.4s;
	transition-delay: 0.1s;
}

#focus:focus .bull2 {
	width: 45px;
	height: 45px;
	background-color: rgba(255, 204, 255, 0.8);
	transition: all 0.4s;
	transition-delay: 0.2s;
}

#focus:focus .bull3 {
	width: 35px;
	height: 35px;
	background-color: rgba(255, 204, 255, 0.8);
	transition: all 0.4s;
	transition-delay: 0.3s;
}


/*/////en cinquieme pseudo element j'ai mis un target*/
#targetposition {
	position: relative;
}

#windowstarget > a {
	position: relative;
	background-color: rgba(204, 51, 255, 0.8);
	border-radius: 5px;
	padding: 5px;
	color: rgb(255, 204, 255);
	cursor: pointer;
}

#target {
	display: none;
	position: absolute;
	width: 400px;
	max-width: 80%;
	top: 50%;
	left: 50%;
	padding: 200px 0;
	transform: translate(-50%, -50%);
	background-color: transparent;
	z-index: 7;
}

#target p {
	text-align: justify;
}

/*le bouton, juste la lettre x, pour fermer le target, c'est a dire
juste changer l'irl en cliquant sur le x*/
#close {
	margin: 5px;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: rgb(204, 51, 255);
	background-color: transparent;
}

#close:hover, #close:focus {
	color: rgb(255, 204, 255);
	cursor: pointer;
	text-decoration: none;
}

#target #autour {
	padding: 5px;
	background-color: rgba(100, 100, 100, 0.4);
	border: 1px solid #777;
	border-radius: 10px;
}

#target:target {
	display: block;
}

/*/////ce sixieme et dernier pseudo element est en fait deux pseudos elements,
before et after, que j'utilise ici pour faire une ombre tordue*/
#beforeafter {
	position: relative;
	outline: none;
}

#beforeafter p {
	text-align: left;
}


#beforeafter:before, #beforeafter:after {
	position: absolute;
	content: "";
	bottom: 23px;
	width: 43%;
	height: 3px;
	background-color: transparent;
	/*je definis deux ombres*/
	box-shadow: /*0 20px 3px rgba(0, 0, 0, 0.4),*/ 0 18px 5px rgba(0, 0, 0, 1);
	transition: all 0.5s;
}

#beforeafter:after {
	right: 5px;
	transform: rotate(9deg);
}

#beforeafter:before {
	left: 5px;
	transform: rotate(-9deg);
}

#beforeafter:focus:after {
	bottom: -50px;
	right: 53%;
	transform: rotate(-171deg);
	transform-origin: right;
	transition: all 0.5s linear;
}

#beforeafter:focus:before {
	bottom: -50px;
	left: 53%;
	transform: rotate(171deg);
	transform-origin: left;
	transition: all 0.5s linear;
}


/*/////pour les ecrans de tablettes en position horizontale*/
@media screen and (max-width: 900px) {
	pseudo {
		flex-direction: column;
		padding: 100px 0;
	}
	pseudo > div {
		margin: 90px auto;
	}
	#windowsextended {
		left: calc(50% - 100px);
	}
}







/*//////////////////////////////////////*/
/*la quatrieme section est juste un zone pour prevenir que la navbar va partir*/
sticky {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 300px;
	padding: 20 0;
	background-image: url("./ressources/tete.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

/*toujours le before pour mettre un voile sur l'image de fond*/
sticky:before {
	position: absolute;
	top: 0;
	content: "";
	background-color: rgba(255, 204, 255, 0.5);
	height: 100%;
	width: 100%;
}

sticky p {
	background-color: transparent;
}




/*///////////////////////////////////////////*/
/*la cinquieme section est remplie de formulaires :-) */
/*reglages generaux de la section*/
formulaire {
	position: relative;
	display: flex;
	flex-direction: row;
	width: 100%;
	background-image: url("./ressources/pantalon.jpg");
	background-position: 0px -600px;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: rgb(255, 204, 255);
}
/*/////suppression des pointilles automatiques lors de la selection*/
formulaire * {
	outline: none;
	cursor: default;
}
/*/////creation d'un voile devant la photo de fond*/
formulaire:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(150, 150, 150, 0.8);
}

/*/////répartir les deux zones de formulaire sur la page*/
#form1 {
	position: relative;
	width: 60%;
	overflow: hidden;
	margin: 0;
}
#form2 {
	position: relative;
	width: 40%;
	margin: 0;
}
/*créer la ligne blanche de separation*/
#form1:before {
	content: "";
	position: absolute;
	right: 0;
	bottom: 20%;
	height: 60%;
	width: 1px;
	background-color: rgb(200, 200, 200);
}

/*/////quand on clique sur un bouton du formulaire ou qu'on remplis un champs
ça assombri le fond*/
#form1:focus-within, #form2:focus-within {
	background-color: rgba(50, 50, 50, 0.2);
}

/*/////les bouts de formulaires qui doivent etre alignés en ligne*/
.inputline {
	display: flex;
	flex-direction: line;
}
/*les bouts de formulaires qui doivent etre alignés en colonnes*/
.inputcolumn {
	display: flex;
	flex-direction: column;
}

/*/////formatage des textes et du curseur*/
formulaire h4 {
	cursor: default;
	background-color: transparent;
	color: rgb(255, 204, 255);
	font-size: 12px;
	text-align: left;
	margin: 5px 0;
	padding: 0;
}
formulaire p {
	cursor: default;
	background-color: transparent;
	color: rgb(255, 204, 255);
	font-size: 15px;
	text-align: left;
	margin: 10px 0;
	padding: 0;
}
#regle > p {
	margin-top: 100px;
}
formulaire label {
	cursor: pointer;
	color: rgb(255, 204, 255);
	font-size: 15px;
	text-align: left;
	margin: 5px 0;
	padding: 0;
}
formulaire label p, formulaire label p em {
	cursor: pointer;
	margin: 0;
	padding: 0;
}
formulaire button {
	cursor: pointer;
	color: rgb(204, 51, 255);
	background-color: rgb(255, 204, 255);
	font-size: 12px;
	margin: 2px;
	padding: 5px;
}

/*/////l'élément surprise*/
#camoufflage {
	position: absolute;
	background-color: rgba(10, 10, 10, 0.9);
	width: 95%;
	height: 80vh;
	top: 10%;
	left: 100%;
	border-radius: 10px 0 0 10px;
	overflow: hidden;
	z-index: 5;
	display: flex;
	transition: left 1s;
}
/*apparition de camoufflage*/
#form1:target #camoufflage {
	left: calc(5% + 13px);
	transition: left 1s;
}
/*bouton pour refermer camoufflage*/
#closecamoufflage {
	position: relative;
	height: 100%;
	width: 20px;
	background-color: rgba(100, 100, 100, 0.2);
	text-align: justify;
	border-radius: 10px 0 0 10px;
	font-size: 30px;
	cursor: pointer;
}
/*la fleche pour fermer*/
#closecamoufflage:after {
	position: absolute;
	content: "";
	top: calc(50% - 8px);
	left: 2px;
	border-width: 10px 0px 10px 16px;
	border-style: solid;
	border-color: transparent rgb(200, 200, 200);
}
/*zone de texte*/
#histoire {
	width: calc(100% - 20px);
	height: calc(100% - 27px);
	overflow: scroll;
	cursor: default;
	padding: 20px;
}
#histoire * {
	background-color: transparent;
	color: rgb(200, 200, 200);
}
#histoire h2, #histoire h3 {
	margin-top: 40px;
}

/*/////input "pour resumer sa vie"*/
input#life {
	background-color: rgb(255, 204, 255);
	padding: 5px;
	border: transparent;
	border-radius: 5px;
	color: rgb(204, 51, 255);
	font-size: 15px;
	width: 100%;
	margin: 20px 0;
}
/*changement de taille de l'input*/
input#life:focus {
	box-shadow: 0 0 2px rgba(50, 50, 50, 0.8) inset;
	width: 30%;
	transition: width 0.5s;
}

/*/////section colorbook*/
/*on aligne les sections vers le haut et on met de l'espace entre elles*/
#color {
	margin: 0 60px 60px 0;
}
#book {
	margin: 0;
}
/*on déplaces les labels vers la droite par rapport aux titres*/
#colorbook label {
	margin-left: 28px;
}

/*/////section de selection des couleurs
la ligne au dessus des zones "j'aime" et "j'aime pas"*/
.couleur:before {
	content: "";
	width: calc(100% - 7px);
	background-color: rgb(255, 204, 255);
	height: 1px;
	position: absolute;
	top: -3px;
	left: 0;
}
/*la fleche a la fin de la zone*/
.couleur:after {
	content: "V";
	font-weight: lighter;
	position: absolute;
	right: 0;
	top: -4px;
}
/*on definit la couleur en la laissant transparente
c'est juste pour adoucir l'animation avec des effets de couleurs
et d'opacité*/
#smaragdin {
	background-color: rgba(1, 215, 88, 0);
	width: calc(100% - 28px);
}
/*quand la couleur est selectionnée
elle change d'ordre*/
input:checked + #smaragdin {
	order: 2;
	color: rgba(255, 204, 255, 0.5);
	background-color: rgba(1, 215, 88, 1);
	transition: order 0s, color 0.5s, background-color 1s;
}
/*et c'est pareil pour toutes le couleurs*/
#glauque {
	background-color: rgba(100, 155, 136, 0);
	width: calc(100% - 28px);
}
input:checked + #glauque {
	order: 2;
	color: rgba(255, 204, 255, 0.5);
	background-color: rgba(100, 155, 136, 1);
	transition: order 0s, color 0.5s, background-color 1s;
}
/*couleur pelure d'oignon...*/
#pelure {
	background-color: rgba(213, 132, 144, 0);
	width: calc(100% - 28px);
}
input:checked + #pelure {
	order: 2;
	color: rgba(255, 204, 255, 0.5);
	background-color: rgba(213, 132, 144, 1);
	transition: order 0s, color 0.5s, background-color 1s;
}
/*couleur cramoisi*/
#cramoisi {
	background-color: rgba(220, 20, 60, 0);
	width: calc(100% - 28px);
}
input:checked + #cramoisi {
	order: 2;
	color: rgba(255, 204, 255, 0.5);
	background-color: rgba(220, 20, 60, 1);
	transition: order 0s, color 0.5s, background-color 1s;
}
/*couleur zinzolin*/
#zinzolin {
	background-color: rgba(108, 2, 119, 0);
	width: calc(100% - 28px);
}
input:checked + #zinzolin {
	order: 2;
	color: rgba(255, 204, 255, 0.5);
	background-color: rgba(100, 2, 119, 1);
	transition: order 0s, color 0.5s, background-color 1s;
}
/*et l'ordre des elements par defaut*/
#color p {
	order: 0;
}
#color label {
	order: 4;
}
#jaime {
	order: 1;
}
#jaimepas {
	order: 3;
}

/*/////personnalisation des inputs pour les couleurs et les livres*/
/*cacher les inputs par defaut*/
input:not([type="text"]) {
	visibility: hidden;
	position: absolute;
}
/*dessiner le coeur pour la selection des couleurs*/
#color label:before {
	content: "";
	width: 5px;
	height: 10px;
	border-radius: 4px 4px 9px 0px / 4px 5px 10px 10px;
	background-color: rgb(255, 204, 255);
	position: absolute;
	top: 3px;
	left: -17px;
	transform: rotate(-33deg);
}
#color label:after {
	content: "";
	width: 5px;
	height: 10px;
	border-radius: 5px 4px 0px 9px / 4px 4px 10px 10px;
	background-color: rgb(255, 204, 255);
	position: absolute;
	top: 3px;
	left: -15px;
	transform: rotate(37deg);
}
/*remplir le coeur en rouge*/
#color input:checked + label:before {
	background-color: rgb(204, 51, 255);
}
#color input:checked + label:after {
	background-color: rgb(204, 51, 255);
}
/*puis creation d'un carré à gauche des livres*/
#book label:before {
	content: "";
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: rgb(255, 204, 255);
	position: absolute;
	top: 3px;
	left: -20px;
}
/*creation d'un rond pour quand un livre est selectionné*/
#book label:after {
	content: "";
	display: none;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background-color: rgb(204, 51, 255);
	position: absolute;
	top: 5px;
	left: -18px;
}
/*pour faire apparaitre les petits ronds*/
#book input:checked + label:after {
	display: block;
}

/*/////pour faire apparaitre les options sous certains livres*/
/*pour la horde du contrevent les options sont d'abord applatis*/
#horde ~ #selecthorde {
	opacity: 0;
	margin: -2px;
	height: 0px;
	transition: all 1s;
}
/*puis s'étendent en hauteur pour apparaitre*/
#horde:checked ~ #selecthorde {
	opacity: 1;
	height: 80px;
	margin: 0;
	margin-bottom: 9px;
	transition: all 1s;
}
/*ainsi que le sous-titre*/
#horde + label h4 {
	opacity: 0;
	margin-top: -20px;
	transition: all 1s;
}
/*qui grossissent*/
#horde:checked + label h4 {
	opacity: 1;
	margin-top: 10px;
	transition: all 1s;
}
/*la meme pour city*/
textarea {
	visibility: hidden;
	margin: 0;
	height: 0px;
	transition: all 1s;
}
/*qui grossis aussi*/
#city:checked ~ #textecity {
	visibility: visible;
	height: 80px;
	transition: all 1s;
}

/*/////les boutons "reinitialise" et "suprise ?"*/
/*on colle les boutons ensemble au centre et on met de l'espace au dessus*/
#button {
	justify-content: center;
	margin-top: 50px;
	margin-bottom: 70px;
}
/*on redessine la bordure par defaut*/
button {
	border: transparent;
	border-radius: 0px 7px 7px 0px;
}
/*pour les bords plats des deux boutons face a face */
button[type="reset"] {
	border-radius: 7px 0px 0px 7px;
}
/*pour leur apparences au clic*/
button:active {
	box-shadow: 0 0 2px rgba(50, 50, 50, 0.8) inset;
}




/*/////on passe au deuxieme formulaire*/
/*/////on met le compteur a zero*/
#form2 form {
	counter-reset: sum;
}

/*/////pour gerer tous les input les uns apres les autres on va devoir
organiser la page en ligne avec wrap, attention ca va être galere*/
#form2 {
	position: relative;
	flex-wrap: wrap;
}
#clavier {
	display: flex;
	flex-wrap: wrap;
}

/*/////la couleur des textes des labels*/
#form2 label {
	color: rgb(204, 51, 255);
}

/*/////mise en page du cadre general du formulaire*/
#form2 form {
	width: 60%;
	width: 350px;
	flex-wrap: wrap;
	position: relative;
	margin: 20px auto 100px auto;
	/*ce z-index permet de positionner le formulaire au bon niveau pour
	que les boutons puissent être caché en dessous*/
	z-index: 1;
}

/*/////mise en page de la zone de regles*/
/*les espaces autour de cette zonre*/
#reglecount {
	margin: 100px 0 20px 0;
}
/*le texte*/
#reglecount p {
	text-align: center;
	width: 80%;
	margin: 0 10%;
}

/*/////mise en page de la zone des boutons ronds*/
/*les intstructions*/
#form2 form > p {
	position: absolute;
	width: 100%;
	text-align: center;
	left: 0;
	top: 45px;
	visibility: hidden;
}
/*quand un des cinq boutons est selectionné ça affiche le texte*/
#form2 form input:checked + label + p {
	visibility: visible;
}
/*la position et le texte des boutons ronds*/
#form2 form > label {
	position: relative;
	height: 60px;
	/*on met width a 20% pour que les boutons remplissent toute la largeur*/
	width: 20%;
	text-align: center;
	padding-top: 10px;
	cursor: default;
}
/*le texte des boutons ronds au clique*/
#form2 form input:checked + label {
	color: rgb(255, 204, 255);
}
/*l'apparence du cadre des boutons ronds*/
#form2 form > label:before {
	content: "";
	position: absolute;
	top: -7px;
	left: calc(50% - 25px);
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background-color: rgb(255, 204, 255);
	z-index: -1;
}
/*pour que le cercle affiche une curseur cliquable au survol
on créer le meme bouton que before, mais transparent et au dessus du label*/
#form2 form > label:after {
	content: "";
	position: absolute;
	top: -7px;
	left: calc(50% - 25px);
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background-color: transparent;
	cursor: pointer;
}
/*l'apparence des boutons ronds au clique*/
#form2 input:checked + label:before {
	content: "";
	position: absolute;
	top: -3px;
	left: calc(50% - 20px);
	height: 40px;
	width: 40px;
	border-radius: 50%;
	background-color: rgb(204, 51, 255);
}

/*/////mise en page de la zone calculette*/
/*l'apparence des boutons de la calculette*/
/*la disposition des boutons carrés*/
#clavier label {
	width: 20%;
	text-align: center;
	padding: 10px 0;
	margin: 10px 0;
	cursor: default;
}
/*le texte des boutons carrés au clique*/
#clavier input:checked + label {
	color: rgb(255, 204, 255);
}
/*l'apparence des boutons carrés*/
#clavier label:before {
	content: "";
	position: absolute;
	top: 0;
	left: calc(50% - 25px);
	height: 100%;
	width: 50px;
	border-radius: 10px;
	background-color: rgb(255, 204, 255);
	z-index: -1;
}
/*l'apparence des boutons carrés au clique*/
#clavier input:checked + label:before {
	content: "";
	position: absolute;
	top: 0;
	left: calc(50% - 25px);
	height: 100%;
	width: 50px;
	border-radius: 10px;
	background-color: rgb(204, 51, 255);
}
/*pour que le bouton affiche une curseur cliquable au survol
on créer le meme bouton que before, mais transparent et au dessus du label*/
#clavier label:after {
	content: "";
	position: absolute;
	top: 0;
	left: calc(50% - 25px);
	height: 100%;
	width: 50px;
	border-radius: 10px;
	background-color: transparent;
	cursor: pointer;
}
/*le message quand on gagne*/
#win {
	visibility: hidden;
	background-color: rgb(255, 204, 255);
	color: rgb(204, 51, 255);
	width: 100%;
	border-radius: 5px;
	margin: 0;
}
/*les messages d'erreur*/
#clavier p {
	display: none;
	text-align: center;
	width: 100%;
	margin: 10px 0;
}

/*/////mise en page de la zone somme*/
#sum {
	padding: 10px;
	margin: 10px;
	border-radius: 10px;
	border: 2px solid rgb(255, 204, 255);
	cursor: pointer;
	font-size: 15px;
	background-color: transparent;
	color: rgb(255, 204, 255);
}
/*le counter qui affiche la somme des boutons*/
#sum:after {
	height: 100%;
	width: 100%;
	content: counter(sum);
}

/*/////quand on selectionne un bouton rond ça
camouffle certains boutons carrés*/
#quatre:checked ~ #clavier .quatre,
#cinquanquatre:checked ~ #clavier .cinquanquatre,
#cinquante:checked ~ #clavier .cinquante,
#dixsept:checked ~ #clavier .dixsept,
#soixantreize:checked ~ #clavier .soixantreize {
	z-index: -1;
}
#quatre:checked ~ #clavier .quatre:after,
#cinquanquatre:checked ~ #clavier .cinquanquatre:after,
#cinquante:checked ~ #clavier .cinquante:after,
#dixsept:checked ~ #clavier .dixsept:after,
#soixantreize:checked ~ #clavier .soixantreize:after {
	background-color: rgba(50, 50, 50, 0.5);
}

/*/////attribution de la valeur aux boutons pour le conteur*/
#a:checked { counter-increment: sum 6; }
#b:checked { counter-increment: sum -17; }
#c:checked { counter-increment: sum 38; }
#d:checked { counter-increment: sum 23; }
#e:checked { counter-increment: sum -21; }
#f:checked { counter-increment: sum 18; }
#g:checked { counter-increment: sum 41; }
#h:checked { counter-increment: sum -37; }
#i:checked { counter-increment: sum 5; }
#j:checked { counter-increment: sum -7; }
#k:checked { counter-increment: sum 15; }
#l:checked { counter-increment: sum 33; }
#m:checked { counter-increment: sum 25; }
#n:checked { counter-increment: sum 13; }
#o:checked { counter-increment: sum 43; }

/*/////l'affichage des messages pour les différentes combinaisons*/
#quatre:checked ~ #clavier #a:not(:checked) ~ #b:checked ~ #c:not(:checked) ~ #d:not(:checked) ~ #e:not(:checked) ~ #f:checked ~ #g:not(:checked) ~ #h:checked ~ #i:not(:checked) ~ #j:not(:checked) ~ #k:checked ~ #l:not(:checked) ~ #m:checked ~ #n:not(:checked) ~ #o:not(:checked) ~ #win {
	visibility: visible;
}
/*les messages d'erreur pour quatre*/
#quatre:checked ~ #clavier #a:not(:checked) ~ #b:not(:checked) ~ #c:not(:checked) ~ #d:checked ~ #e:not(:checked) ~ #f:not(:checked) ~ #g:not(:checked) ~ #h:checked ~ #i:not(:checked) ~ #j:checked ~ #k:not(:checked) ~ #l:not(:checked) ~ #m:checked ~ #n:not(:checked) ~ #o:not(:checked) ~ #error1 {
	display: block;
}
#quatre:checked ~ #clavier #a:not(:checked) ~ #b:not(:checked) ~ #c:not(:checked) ~ #d:not(:checked) ~ #e:checked ~ #f:not(:checked) ~ #g:not(:checked) ~ #h:not(:checked) ~ #i:not(:checked) ~ #j:not(:checked) ~ #k:not(:checked) ~ #l:not(:checked) ~ #m:checked ~ #n:not(:checked) ~ #o:not(:checked) ~ #error1 {
	display: block;
}
#quatre:checked ~ #clavier #a:not(:checked) ~ #b:not(:checked) ~ #c:not(:checked) ~ #d:checked ~ #e:not(:checked) ~ #f:checked ~ #g:not(:checked) ~ #h:checked ~ #i:not(:checked) ~ #j:not(:checked) ~ #k:not(:checked) ~ #l:not(:checked) ~ #m:not(:checked) ~ #n:not(:checked) ~ #o:not(:checked) ~ #error1 {
	display: block;
}
#quatre:checked ~ #clavier #a:not(:checked) ~ #b:checked ~ #c:not(:checked) ~ #d:checked ~ #e:checked ~ #f:checked ~ #g:not(:checked) ~ #h:checked ~ #i:not(:checked) ~ #j:not(:checked) ~ #k:not(:checked) ~ #l:not(:checked) ~ #m:checked ~ #n:checked ~ #o:not(:checked) ~ #error1 {
	display: block;
}
/*premiere solution pour soixantreize*/
#soixantreize:checked ~ #clavier #a:not(:checked) ~ #b:not(:checked) ~ #c:not(:checked) ~ #d:not(:checked) ~ #e:checked ~ #f:not(:checked) ~ #g:checked ~ #h:not(:checked) ~ #i:checked ~ #j:not(:checked) ~ #k:checked ~ #l:checked ~ #m:not(:checked) ~ #n:not(:checked) ~ #o:not(:checked) ~ #win {
	visibility: visible;
}
/*le message qui indique les autres solutions*/
#soixantreize:checked ~ #clavier #a:not(:checked) ~ #b:not(:checked) ~ #c:not(:checked) ~ #d:not(:checked) ~ #e:checked ~ #f:not(:checked) ~ #g:checked ~ #h:not(:checked) ~ #i:checked ~ #j:not(:checked) ~ #k:checked ~ #l:checked ~ #m:not(:checked) ~ #n:not(:checked) ~ #o:not(:checked) ~ #error3 {
	display: block;
}
/*deuxieme solution pour soixantreize*/
#soixantreize:checked ~ #clavier #a:not(:checked) ~ #b:not(:checked) ~ #c:not(:checked) ~ #d:not(:checked) ~ #e:not(:checked) ~ #f:not(:checked) ~ #g:checked ~ #h:checked ~ #i:not(:checked) ~ #j:checked ~ #k:not(:checked) ~ #l:checked ~ #m:not(:checked) ~ #n:not(:checked) ~ #o:checked ~ #win {
	visibility: visible;
}
/*le message qui indique les autres solutions*/
#soixantreize:checked ~ #clavier #a:not(:checked) ~ #b:not(:checked) ~ #c:not(:checked) ~ #d:not(:checked) ~ #e:not(:checked) ~ #f:not(:checked) ~ #g:checked ~ #h:checked ~ #i:not(:checked) ~ #j:checked ~ #k:not(:checked) ~ #l:checked ~ #m:not(:checked) ~ #n:not(:checked) ~ #o:checked ~ #error3 {
	display: block;
}
/*troisieme solution pour soixantreize*/
#soixantreize:checked ~ #clavier #a:not(:checked) ~ #b:checked ~ #c:not(:checked) ~ #d:checked ~ #e:not(:checked) ~ #f:not(:checked) ~ #g:checked ~ #h:not(:checked) ~ #i:not(:checked) ~ #j:checked ~ #k:not(:checked) ~ #l:checked ~ #m:not(:checked) ~ #n:not(:checked) ~ #o:not(:checked) ~ #win {
	visibility: visible;
}
/*le message qui indique les autres solutions*/
#soixantreize:checked ~ #clavier #a:not(:checked) ~ #b:checked ~ #c:not(:checked) ~ #d:checked ~ #e:not(:checked) ~ #f:not(:checked) ~ #g:checked ~ #h:not(:checked) ~ #i:not(:checked) ~ #j:checked ~ #k:not(:checked) ~ #l:checked ~ #m:not(:checked) ~ #n:not(:checked) ~ #o:not(:checked) ~ #error3 {
	display: block;
}
/*les messages d'erreur pour 73*/
#soixantreize:checked ~ #clavier #a:not(:checked) ~ #b:checked ~ #c:not(:checked) ~ #d:checked ~ #e:checked ~ #f:not(:checked) ~ #g:checked ~ #h:checked ~ #i:not(:checked) ~ #j:checked ~ #k:checked ~ #l:checked ~ #m:not(:checked) ~ #n:not(:checked) ~ #o:checked ~ #error1 {
	display: block;
}
/*premiere solution pour cinquanquatre*/
#cinquanquatre:checked ~ #clavier #a:checked ~ #b:not(:checked) ~ #c:checked ~ #d:not(:checked) ~ #e:checked ~ #f:checked ~ #g:not(:checked) ~ #h:not(:checked) ~ #i:not(:checked) ~ #j:not(:checked) ~ #k:not(:checked) ~ #l:not(:checked) ~ #m:not(:checked) ~ #n:checked ~ #o:not(:checked) ~ #win {
	visibility: visible;
}
/*le message qui indique l'autre solution*/
#cinquanquatre:checked ~ #clavier #a:checked ~ #b:not(:checked) ~ #c:checked ~ #d:not(:checked) ~ #e:checked ~ #f:checked ~ #g:not(:checked) ~ #h:not(:checked) ~ #i:not(:checked) ~ #j:not(:checked) ~ #k:not(:checked) ~ #l:not(:checked) ~ #m:not(:checked) ~ #n:checked ~ #o:not(:checked) ~ #error2 {
	display: block;
}
/*deuxieme solution pour cinquanquatre*/
#cinquanquatre:checked ~ #clavier #a:checked ~ #b:not(:checked) ~ #c:not(:checked) ~ #d:checked ~ #e:checked ~ #f:not(:checked) ~ #g:checked ~ #h:not(:checked) ~ #i:checked ~ #j:not(:checked) ~ #k:not(:checked) ~ #l:not(:checked) ~ #m:not(:checked) ~ #n:not(:checked) ~ #o:not(:checked) ~ #win {
	visibility: visible;
}
/*le message qui indique l'autre solution*/
#cinquanquatre:checked ~ #clavier #a:checked ~ #b:not(:checked) ~ #c:not(:checked) ~ #d:checked ~ #e:checked ~ #f:not(:checked) ~ #g:checked ~ #h:not(:checked) ~ #i:checked ~ #j:not(:checked) ~ #k:not(:checked) ~ #l:not(:checked) ~ #m:not(:checked) ~ #n:not(:checked) ~ #o:not(:checked) ~ #error2 {
	display: block;
}
/*les messages d'erreur pour cinquanquatre*/
#cinquanquatre:checked ~ #clavier #a:not(:checked) ~ #b:not(:checked) ~ #c:not(:checked) ~ #d:checked ~ #e:not(:checked) ~ #f:checked ~ #g:not(:checked) ~ #h:not(:checked) ~ #i:not(:checked) ~ #j:not(:checked) ~ #k:not(:checked) ~ #l:not(:checked) ~ #m:not(:checked) ~ #n:checked ~ #o:not(:checked) ~ #error1 {
	display: block;
}
/*les messages d'erreur pour cinquanquatre*/
#cinquanquatre:checked ~ #clavier #a:checked ~ #b:not(:checked) ~ #c:not(:checked) ~ #d:not(:checked) ~ #e:not(:checked) ~ #f:not(:checked) ~ #g:not(:checked) ~ #h:not(:checked) ~ #i:checked ~ #j:not(:checked) ~ #k:not(:checked) ~ #l:not(:checked) ~ #m:not(:checked) ~ #n:not(:checked) ~ #o:checked ~ #error1 {
	display: block;
}
#dixsept:checked ~ #clavier #a:not(:checked) ~ #b:not(:checked) ~ #c:not(:checked) ~ #d:not(:checked) ~ #e:not(:checked) ~ #f:not(:checked) ~ #g:not(:checked) ~ #h:checked ~ #i:checked ~ #j:checked ~ #k:not(:checked) ~ #l:not(:checked) ~ #m:not(:checked) ~ #n:checked ~ #o:not(:checked) ~ #win {
	visibility: visible;
}
#cinquante:checked ~ #clavier #a:not(:checked) ~ #b:checked ~ #c:checked ~ #d:checked ~ #e:not(:checked) ~ #f:not(:checked) ~ #g:not(:checked) ~ #h:not(:checked) ~ #i:not(:checked) ~ #j:checked ~ #k:not(:checked) ~ #l:not(:checked) ~ #m:not(:checked) ~ #n:checked ~ #o:not(:checked) ~ #win {
	visibility: visible;
}



/*/////pour les ecrans de tablettes en position horizontale*/
@media screen and (max-width: 1200px) {
	formulaire {
		flex-direction: column;
	}
	#form1, #form2 {
		padding: 20px;
		width: calc(100% - 40px);
		margin: auto;
	}
	/*la ligne blanche qui separe les deux formulaires passe en dessous*/
	#form1:before {
		bottom: 0;
		right: 20%;
		width: 60%;
		height: 1px;
	}
}
/*/////pour les ecrans de tablettes en position verticale*/
@media screen and (max-width: 600px) {
	#form1 #colorbook {
		flex-direction: column;
	}
	input#life:focus {
		width: 50%;
	}
}
@media screen and (max-width: 400px) {
	#form2 form {
		width: 230px;
	}
	/*la taille des textes de la calculette*/
	#form2 #count label {
		font-size: 13px;
	}
	/*les boutons ronds*/
	#form2 form > label:before {
		height: 30px;
		width: 30px;
		top: 2px;
		left: calc(50% - 15px);
	}
	/*le pointeur sur les boutons ronds*/
	#form2 form > label:after {
		height: 30px;
		width: 30px;
		top: 2px;
		left: calc(50% - 15px);
	}
	/*les boutons ronds au clic*/
	#form2 input:checked + label:before {
		height: 25px;
		width: 25px;
		top: 4px;
		left: calc(50% - 12.5px);
	}
	/*les boutons carrés*/
	#clavier label:before {
		top: 12%;
		left: calc(50% - 15px);
		height: 70%;
		width: 30px;
		border-radius: 7px;
	}
	/*les boutons carrés au clic*/
	#clavier input:checked + label:before {
		top: 12%;
		left: calc(50% - 15px);
		height: 70%;
		width: 30px;
		border-radius: 7px;
	}
	/*le pointeur sur les boutons carrés*/
	#clavier label:after {
		top: 12%;
		left: calc(50% - 15px);
		height: 70%;
		width: 30px;
		border-radius: 7px;
	}
	/*l'espace entre les lignes de boutons carrés*/
	#clavier label {
	margin: 0;
	}
}







/*/////////////////////////////////////*/
/*la sixieme et derniere section montre des techniques pour les slides*/
/*general setting de la section*/
slide {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 100 0;
	overflow: hidden;
	background-image: url("./ressources/genevieve.jpg");
	background-position: 0px -200px;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
/*le voile translucide devant l'image de fond*/
slide:before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(100, 100, 100, 0.7);
}
/*la petite dedicace a morgan sur l'ecran d'ordinateur duquel
j'ai vu trois slides cote a cote, inspiration*/
#dedi {
	margin-bottom: 100px;
	border-radius: 0;
	background-color: rgba(160, 160, 160, 0.7);
	width: 200px;
}

/*/////la trame temporelle pour le déroulement des slides*/
@keyframes slidy {
	0% { left: 0%; }
	20% { left: 0%; }
	25% { left: -100%; }
	45% { left: -100%; }
	50% { left: -200%; }
	70% { left: -200%; }
	75% { left: -300%; }
	95% { left: -300%; }
	100% { left: -400%; }
}
/*les quatre keyframes pour les quatre boutons*/
@keyframes slidyone {
	0% { left: 0%; }
	20% { left: 0%; }
	25% { left: -100%; }
	45% { left: -100%; }
	50% { left: -200%; }
	70% { left: -200%; }
	75% { left: -300%; }
	95% { left: -300%; }
	100% { left: -400%; }
}
@keyframes slidytwo {
	0% { left: 0%; }
	20% { left: 0%; }
	25% { left: -100%; }
	45% { left: -100%; }
	50% { left: -200%; }
	70% { left: -200%; }
	75% { left: -300%; }
	95% { left: -300%; }
	100% { left: -400%; }
}
@keyframes slidythree {
	0% { left: 0%; }
	20% { left: 0%; }
	25% { left: -100%; }
	45% { left: -100%; }
	50% { left: -200%; }
	70% { left: -200%; }
	75% { left: -300%; }
	95% { left: -300%; }
	100% { left: -400%; }
}
@keyframes slidyfour {
	0% { left: 0%; }
	20% { left: 0%; }
	25% { left: -100%; }
	45% { left: -100%; }
	50% { left: -200%; }
	70% { left: -200%; }
	75% { left: -300%; }
	95% { left: -300%; }
	100% { left: -400%; }
}
/*la keyframe pour le cadre info qui apparait sur le deuxieme slide*/
@keyframes timeliner {
	0% { width: 35px; opacity: 1; }
	50% { width: 80%; opacity: 1; }
	70% { width: 80%; opacity: 1; }
	90% { width: 80%; opacity: 0; }
	100% { width: 35px; opacity: 0; }
}

/*reglages pour mettre les trois slides cote a cote*/
#slideall {
	display: flex;
	margin: 20;
}


/*taille des cadres*/
.cadre {
	position: relative;
	width: 400px;
	/*on met height en auto pour garder le ratio*/
	height: auto;
	margin: 20px;
	overflow-y: visible;
	overflow-x: hidden;
}

/*taille des images*/
.boite img {
	width: 20%;
}

/*la boite (invisible) qui contient toutes les imges et qui defile*/
.boite {
	display: flex;
	justify-content: flex-start;
	position: relative;
	width: 500%;
	animation: 10s slidy infinite -9.7s;
}

/*/////pour le premier slide*/
/*les boutons qui permettent de selectionner directement une image du slide*/
.goto {
	position: absolute;
	width: 10px;
	height: 10px;
	background-color: rgb(255, 204, 255);
	bottom: 10px;
	outline: none;
}
/*l'apparence au clique*/
.goto:focus {
	background-color: rgb(204, 51, 255);
}
/*la position pour chaque bouton*/
/*ils sont positionnés dans le cadre parce que c'est teeeeeellement plus simple*/
#gotoone {
	left: calc(50% - 30px);
}
#gototwo {
	left: calc(50% - 10px);
}
#gotothree {
	left: calc(50% + 10px);
}
#gotofour {
	left: calc(50% + 30px);
}

/*/////pour aller directement a l'image selectionnée du slide*/
#gotoone:focus ~ .boite {
	animation: 10s slidyone infinite -9.7s;
}
#gototwo:focus ~ .boite {
	animation: 10s slidytwo infinite -2.2s;
}
#gotothree:focus ~ .boite {
	animation: 10s slidythree infinite -4.7s;
}
#gotofour:focus + .boite {
	animation: 10s slidyfour infinite -7.2s;
}

/*/////pour le deuxieme slide*/
/*l'apparition du petit encart descriptif*/
#timeline {
	position: absolute;
	bottom: 70;
	left: 0;
	padding: 5px;
	text-align: right;
	width: 0px;
	color: rgb(255, 204, 255);
	background-color: rgb(204, 51, 255);
	animation: timeliner 2.5s infinite;
	z-index: 1;
}

/*/////pour le troisieme slide*/
/*c'est la creation des boutons play et pause*/
#playbtn, #pausebtn {
	position: absolute;
	top: 25px;
	right: 25px;
	opacity: 0;
	width: 22px;
	height: 22px;
	transition: opacity 1s;
	z-index: 2;
}

/*dessin du bouton pause*/
#pausebtn:after, #pausebtn:before {
	position: absolute;
	display: block;
	content: " ";
	width: 38%;
	height: 22px;
	background-color: rgba(204, 51, 255, 0.7);
	z-index: 2;
}

#pausebtn:before {
	left: 0;
}

#pausebtn:after {
	right: 0;
}

/*dessin du bouton play*/
#playbtn {
	width: 1px;
	height: 1px;
	/*ce sont les transparences qui dessinent les deux triangles*/
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 20px solid rgba(204, 51, 255, 0.7);
	z-index:2;
}


/*stopper le slide*/
.command:target ~ #cadre3 .boite {
	animation-play-state: paused;
}

/*redémarrer le slide*/
#play:target ~ #cadre3 .boite {
	animation-play-state: running;
}


/*switch entre les boutons*/
#cadre3:hover #pausebtn {
	opacity: 1;
}

#pause:target ~ #cadre3 #pausebtn {
	opacity: 0;
	cursor: default;
	z-index: 1;
}

#pause:target ~ #cadre3:hover #playbtn {
	opacity: 1;
}

#play:target ~ #cadre3 #playbtn {
	cursor: default;
}



@media screen and (max-width: 900px) {
	#slideall {
		flex-direction: column;
		margin: auto;
	}
	.cadre {
		max-width: 80vw;
	}
}
