/*general settings*/
* {margin: 0;}

body {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

body * {
	margin: auto;
}

a, p, h1, h2, h3 {
	position: relative;
	font-family: "Courier New";
	text-decoration: none;
	text-align: center;
	z-index: 1;
}

a, h1, h2, h3 {
	color: rgb(204, 51, 255);
}

h1, h2 {
	text-shadow: 0px 0px 9px black;
}

a, p, h3 {
	font-size: 15px;
}

p {
	position: relative;
	background-color: rgba(204, 51, 255, 0.8);
	border-radius: 5px;
	padding: 10px;
	color: rgb(255, 204, 255);
}

/*mise ne place des petits boutons pour expliquer le code*/
.question {
	display: block;
	position: absolute;
}

.circle {
	z-index: 5;
	position: relative;
	width: 14px;
	height: 14px;
	border-radius: 7px;
	background-color: rgba(204, 51, 255, 0.8);
	cursor: pointer;
}

.question p {
	z-index: 4;
	background-color: transparent;
	color: rgb(204, 51, 255);
	cursor: default;
}

.questionmark {
	display: block;
	position: absolute;
	top: -30px;
	right: -8px;
	padding-bottom: 15px;
	transform-origin: bottom center;
	opacity: 1;
}

.tooltip {
	display: block;
	opacity: 0;
	visibility: hidden;
	position: absolute;
	z-index: 0;
	bottom: 10;
	transform: translateY(50%);
	width: 300px;
	padding: 10px;
	border-radius: 10px;
	background-color: rgba(150, 150, 150, 0.9);
	color: white;
	margin-left: 40px;
	margin-right: 40px;
	transition: all 0.5s;
}

.tooltipgauche {
	right: 0px;
}

.tooltipdroite {
	left: 0px;
}

/*la petite fleche*/
.tooltipdroite:after {
	content: "";
	position: absolute;
	top: calc(50% - 5px);
	left: -20px;
	border-width: 10px 10px;
	border-style: solid;
	border-color: transparent rgba(150, 150, 150, 0.9) transparent transparent;
}

.tooltipgauche:after {
	content: "";
	position: absolute;
	top: calc(50% - 5px);
	right: -20px;
	border-width: 10px 10px;
	border-style: solid;
	border-color: transparent transparent transparent rgba(150, 150, 150, 0.9);
}

.circle:hover {
	z-index: 7;
}

.circle:active ~ .tooltip, .circle:hover ~ .tooltip {
	z-index: 6;
	opacity: 1;
	visibility: visible;
	transition: opacity 0.5s;
}

.circle:active + p, .circle:hover + p {
	opacity: 0;
	transform: rotate(180deg);
	transition: all 1s;
}

.tooltip:hover {
	z-index: 6;
	opacity: 1;
	visibility: visible;
} 

/*positionnement des questions*/

#questionSelf {
	right: -45px;
	top: -10px;
}

#questionSelf p {
	color: rgb(255, 204, 255);
}

#questionSelf div {
	background-color: rgb(255, 204, 255);
}

#questionTitre {
	left: 40px;
	top: -20px;
}

#questionTitre p {
	color: rgb(255, 204, 255);
}

#questionTitre div {
	background-color: rgb(255, 204, 255);
}

#questionNavbar {
	left: 400px;
	top: 150px;
}

#questionDisco {
	left: 90px;
	top: 80px;
}

#questionMenu {
	left: -40px;
	top: 30px;
}

#questionRonds {
	left: 25px;
	top: 75px;
}

#questionTarget {
	left: -20px;
	top: -70px;
}

#questionOmbres {
	left: 95px;
	top: 54px;
}

#questionSticky {
	left: 86%;
	top: 64%;
}

#questionSticky p {
	color: rgb(255, 204, 255);
}

#questionSticky div {
	background-color: rgb(255, 204, 255);
}

#questionLinks {
	left: -30px;
	top: -35px;
}

#questionSlide {
	left: 15%;
	top: 73%;
}

#questionTimeline {
	left: 56%;
	top: 54%;
}

#questionPlay {
	left: 84%;
	top: 68%;
}

/*premiere section : le titre*/
titre {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 200 0 200 0;
	overflow: hidden;
	background-image: url("./ressources/cosmonaute.jpg");
	background-position: 0px -200px;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

titre h3 {
	color: rgb(255, 204, 255);
}

titre:after {
	width: 100%;
	height: 100%;
	background-color: rgba(150, 110, 150, 0.9);
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	z-index: 0;
}

#title {
	position: relative;
	margin-bottom: 100px;
}

#instructions {
	position: relative;
}

/*deuxieme section : la nav bar*/
navbarZone {
	display: flex;
	flex-direction: column;
	position: relative;
}

/*grace a la position sticky elle va rester accrocher en haut de la div
c'est pour ça que j'ai vais la div navbarzone plus grande que simplement
la section navbar, elle englobe aussi les pseudos et le section sticky*/
navbar {
	display: flex;
	width: 100%;
	background-color: rgb(255, 204, 255);
	height: 50px;
	position: sticky;
	top: 0;
	z-index: 3;
}

#navbarSlides {
	position: relative;
}

#navbar1 {
	position: absolute;
	height: 70px;
	width: 100%;
	top: -65px;
	background-color: rgb(255, 204, 255);
}

#navbar2 {
	position: absolute;
	height: 70px;
	width: 100%;
	top: 45px;
	background-color: rgb(255, 204, 255);
	z-index: 2;
}

/*cette transition est utilisée dans la navbar
c'est juste une petit trait qui apparait quand on passe la souris sur la cible*/
/*mise en place du petit trait animé*/
.tiret:after {
	content: "";
	position: absolute;
	bottom: 0;
	right: 10px;
	left: 10px;
	height: 2px;
	background-color: rgb(204, 51, 255);
	opacity: 0;
	transform: translateY(5px);
	transition: all 0.4s;
}

/*animation du petit trait*/
.tiret:hover:after {
	opacity: 0.6;
	transform: translateY(0);
}


/*troisieme section, les pseudos elements*/
pseudo {
	position: relative;
	display: flex;
	flex-direction: row;
	width: 100%;
	padding: 300 0;
	background-image: url("./ressources/lucie.jpg");
	background-position: 0px -100px;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	z-index: 1;
}

/*grace a ce before je met une couleur transparente au dessus de l'image de fond*/
pseudo:before {
	position: absolute;
	top: 0;
	content: "";
	background-color: rgba(60, 60, 60, 0.9);
	height: 100%;
	width: 100%;
}

pseudo * {
	cursor: default;
}

pseudo p {
	margin: 5px;
	padding: 5px;
	cursor: pointer;
}

/*ce bouton clignote grace a une transition sur le z-index : au hover de l'élément, le bouton change d'apparence, et un autre element caché derriere augmente son z-index au dessus en 1s, et une fois arrivé devant le hover ne marche plus, donc la transition fait repasser l'élément caché en 1s en dessous du coup le hover re-marche, etc...*/
#clignote {
	position: relative;
}

#disco {
	z-index: 5;
}

#camoufle {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 4;
	transition: z-index 1s;
}

#disco:hover {
	background-color: rgba(255, 204, 255, 0.8);
	color: rgb(204, 51, 255);
	cursor: default;
}

#disco:hover + #camoufle {
	z-index: 6;
	transition: z-index 1s;
}

/*le deuxieme est comme le premier mais la div est collée au p et est aussi en hover donc elle reste apparente tant que la souris est desus*/
#menu {
	position: relative;
}

#hoverextended {
	z-index: 5;
	position: relative;
}

#hoverextended #phover:hover {
	color: rgb(204, 51, 255);
	background-color: rgba(255, 204, 255, 0.8);
}

#windowsextended {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: -10px;
	left: -5px;
	overflow: hidden;
	background-color: rgba(100, 100, 100, 0.4);
	padding: 70px 5px 5px 5px;
	border: 1px solid #777;
	border-radius: 10px;
	width: 200px;
	z-index: -1;
	transition: all 0.3s;
}

#windowsextended p {
	text-align: justify;
}

#hoverextended:hover, #hoverextended:focus {
	z-index: 7;
	outline: none;
}

#hoverextended:hover #windowsextended, #hoverextended:focus #windowsextended {
	visibility: visible;
	opacity: 1;
	transition: all 0.3s;
}

/*la div est aussi en hover pour rester apparente*/
#windowsextended:hover {
	visibility: visible;
	opacity: 1;
}

/*le troisieme pseudo element*/
#focus {
	z-index: 5;
	position: relative;
}

#bull {
	z-index: -1;
	border-radius: 5px;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 50%;
	margin-left: -50%;
	transition: all 0.3s;
	background-color: rgba(204, 51, 255, 0.8);
}

#focus > p {
	background-color: transparent;
	margin: 0;
}

.bulles {
	position: absolute;
	width: 0px;
	height: 0px;
	border-radius: 50%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: transparent;
	transition: all 0.3s;
}

#bulla {top: -210px;}

#bullb {right: -210px;}

#bullc {bottom: -210px;}

#bulld {left: -210px;}


#bulle {top: -350px;}

#bullf {right: -350px;}

#bullg {bottom: -350px;}

#bullh {left: -350px;}


#bulli {top: -460px;}

#bullj {right: -460px;}

#bullk {bottom: -460px;}

#bulll {left: -460px;}


#focus:focus {
	outline: none;
	z-index: 7;
}

#focus:focus > p {
	color: rgb(204, 51, 255);
	z-index: 6;
}

#focus:focus #bull {
	width: 100px;
	height: 100px;
	top: 0;
	z-index: 5;
	bottom: 0;
	left: 50%;
	margin-left: -50px;
	border-radius: 50%;
	background-color: rgba(255, 204, 255, 0.8);
	transition: all 0.3s;
}

#focus:focus .bull1 {
	width: 60px;
	height: 60px;
	background-color: rgba(255, 204, 255, 0.8);
	transition: all 0.4s;
	transition-delay: 0.1s;
}

#focus:focus .bull2 {
	width: 45px;
	height: 45px;
	background-color: rgba(255, 204, 255, 0.8);
	transition: all 0.4s;
	transition-delay: 0.2s;
}

#focus:focus .bull3 {
	width: 35px;
	height: 35px;
	background-color: rgba(255, 204, 255, 0.8);
	transition: all 0.4s;
	transition-delay: 0.3s;
}


/*en cinquieme pseudo element j'ai mis un target*/
#targetposition {
	position: relative;
}

#windowstarget > a {
	position: relative;
	background-color: rgba(204, 51, 255, 0.8);
	border-radius: 5px;
	padding: 5px;
	color: rgb(255, 204, 255);
	cursor: pointer;
}

#target {
	display: none;
	position: absolute;
	width: 400px;
	top: 50%;
	left: 50%;
	padding: 200px 0;
	transform: translate(-50%, -50%);
	background-color: transparent;
	z-index: 7;
}

#target p {
	text-align: justify;
}

/*le bouton, juste la lettre x, pour fermer le target, c'est a dire juste changer l'irl en cliquant sur le x*/
#close {
	margin: 5px;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: rgb(204, 51, 255);
	background-color: transparent;
}

#close:hover, #close:focus {
	color: rgb(255, 204, 255);
	cursor: pointer;
	text-decoration: none;
}

#target #autour {
	padding: 5px;
	background-color: rgba(100, 100, 100, 0.4);
	border: 1px solid #777;
	border-radius: 10px;
}

#target:target {
	display: block;
}

/*ce sixieme et dernier pseudo element est en fait deux pseudos elements,
before et after, que j'utilise ici pour faire une ombre tordue*/
#beforeafter {
	position: relative;
	z-index: 5;
	outline: none;
}

#beforeafter p {
	text-align: left;
}


#beforeafter:before, #beforeafter:after {
	position: absolute;
	content: "";
	bottom: 23px;
	z-index: -1;
	width: 43%;
	height: 3px;
	background-color: transparent;
	/*je definis deux ombres*/
	box-shadow: /*0 20px 3px rgba(0, 0, 0, 0.4),*/ 0 18px 5px rgba(0, 0, 0, 1);
	transition: all 0.5s;
}

#beforeafter:after {
	right: 5px;
	transform: rotate(9deg);
}

#beforeafter:before {
	left: 5px;
	transform: rotate(-9deg);
}

#beforeafter:focus:after {
	bottom: -50px;
	right: 50%;
	transform: rotate(-180deg);
	transform-origin: right;
	transition: all 1s;
}

#beforeafter:focus:before {
	bottom: -50px;
	left: 50%;
	transform: rotate(180deg);
	transform-origin: left;
	transition: all 1s;
}

/*la quatrieme section est juste un zone pour prevenir que la navbar va partir*/
sticky {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 300px;
	padding: 20 0;
	background-image: url("./ressources/tete.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

/*toujours le before pour mettre un voile sur l'image de fond*/
sticky:before {
	position: absolute;
	top: 0;
	content: "";
	background-color: rgba(255, 204, 255, 0.5);
	height: 100%;
	width: 100%;
}

sticky p {
	background-color: transparent;
}

/*la cinquieme section porte sur les formulaires*/
formulaire {
	position: relative;
	display: flex;
	width: 100%;
	padding: 200 0;
	background-image: url("./ressources/pantalon.jpg");
	background-position: 0px -600px;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}


/*la sixieme et derniere section montre des techniques pour les slides*/
/*general setting de la section*/
slide {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 100 0;
	overflow: hidden;
	background-image: url("./ressources/genevieve.jpg");
	background-position: 0px -200px;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

slide #question {
	overflow: visible;
}

slide:before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(100, 100, 100, 0.7);
}

/*la petite dedicace a morgan sur l'ecran d'ordinateur duquel j'ai vu trois slides cote a cote, inspiration*/
#dedi {
	margin-bottom: 100px;
	border-radius: 0;
	background-color: rgba(160, 160, 160, 0.7);
	width: 200px;
}

/*la trame temporelle pour le déroulement des slides*/
@keyframes slidy {
	0% { left: 0%; }
	20% { left: 0%; }
	25% { left: -100%; }
	45% { left: -100%; }
	50% { left: -200%; }
	70% { left: -200%; }
	75% { left: -300%; }
	95% { left: -300%; }
	100% { left: -400%; }
}

@keyframes timeliner {
	0% { width: 0%; }
	20% { width: 100%; }
	21% { width: 0%; }
	25% { width: 0%; }
	45% { width: 100%; }
	46% { width: 0%; }
	50% { width: 0%; }
	70% { width: 100%; }
	71% { width: 0%; }
	75% { width: 0%; }
	95% { width: 100%; }
	96% { width: 0%; }
	100% { width: 0%; }
}

/*reglages pour mettre les trois slides cote a cote*/
#slideall {
	display: flex;
	margin: 20;
	flex-wrap: wrap;
}


/*taille des cadres*/
.cadre {
	position: relative;
	width: 400px;
	height: 400px;
	overflow: hidden;
}

/*taille des images*/
.boite img {
	width: 20%;
}

/*la boite (invisible) qui contient toutes les imges et qui defile*/
.boite {
	display: flex;
	justify-content: flex-start;
	position: relative;
	width: 500%;
	animation: 10s slidy infinite;
}

/*pour le deuxieme slide*/
/*j'utilise after pour faire apparaitre la zone grise dans laqeulle
la timeline avance*/
#cadre2:after {
	position: absolute;
	bottom: 10;
	left: 0;
	content: " ";
	width: 100%;
	height: 10px;
	background-color: rgb(160, 160, 160);
}

#timeline {
	position: absolute;
	bottom: 10;
	left: 0;
	content: " ";
	height: 10px;
	background-color: rgb(204, 51, 255);
	width: 0;
	animation: timeliner 10s infinite;
	z-index: 1;
}

/*pour le troisieme slide*/
/*c'est la creation des boutons play et pause*/
#playbtn, #pausebtn {
	position: absolute;
	top: 25px;
	right: 25px;
	opacity: 0;
	width: 22px;
	height: 22px;
	transition: opacity 1s;
	z-index: 2;
}

/*dessin du bouton pause*/
#pausebtn:after, #pausebtn:before {
	position: absolute;
	display: block;
	content: " ";
	width: 38%;
	height: 22px;
	background-color: rgba(204, 51, 255, 0.7);
	z-index: 2;
}

#pausebtn:before {
	left: 0;
}

#pausebtn:after {
	right: 0;
}

/*dessin du bouton play*/
#playbtn {
	width: 1px;
	height: 1px;
	/*ce sont les transparences qui dessinent les deux triangles*/
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 20px solid rgba(204, 51, 255, 0.7);
	z-index:2;
}


/*stopper le slide*/
.command:target ~ #cadre3 .boite {
	animation-play-state: paused;
}

/*redémarrer le slide*/
#play:target ~ #cadre3 .boite {
	animation-play-state: running;
}


/*switch entre les boutons*/
#cadre3:hover #pausebtn {
	opacity: 1;
}

#pause:target ~ #cadre3 #pausebtn {
	opacity: 0;
	cursor: default;
	z-index: 1;
}

#pause:target ~ #cadre3:hover #playbtn {
	opacity: 1;
}

#play:target ~ #cadre3 #playbtn {
	cursor: default;
}
